body {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

input {
  padding: 8px;
}

textarea {
  width: 400px;
  height: 100px;
  padding: 8px;
}

.divce {
  width: 400px;
  height: 100px;
  padding: 8px;
  border: 1px solid grey;
}
